In [1]:
import feather
import numpy as np
import pandas as pd

In [2]:
np.random.seed=56
df_size= 10_000_000
df = pd.DataFrame({
    'a': np.random.rand(df_size),
    'b': np.random.rand(df_size),
    'c': np.random.rand(df_size),
    'd': np.random.rand(df_size),
    'e': np.random.rand(df_size)
})
df.head()

          a         b         c         d         e
0  0.019723  0.582464  0.539286  0.676449  0.718943
1  0.344798  0.113941  0.743683  0.880830  0.312115
2  0.177101  0.627486  0.072895  0.203982  0.807779
3  0.383684  0.770677  0.340006  0.338521  0.854487
4  0.515702  0.268015  0.300000  0.686132  0.772417

In [3]:
df

                a         b         c         d         e
0        0.019723  0.582464  0.539286  0.676449  0.718943
1        0.344798  0.113941  0.743683  0.880830  0.312115
2        0.177101  0.627486  0.072895  0.203982  0.807779
3        0.383684  0.770677  0.340006  0.338521  0.854487
4        0.515702  0.268015  0.300000  0.686132  0.772417
...           ...       ...       ...       ...       ...
9999995  0.132717  0.798466  0.729732  0.590488  0.189651
9999996  0.331536  0.519983  0.884302  0.900998  0.751082
9999997  0.418044  0.482059  0.464899  0.541970  0.717817
9999998  0.662264  0.576858  0.441406  0.189628  0.145984
9999999  0.528478  0.237206  0.439194  0.063252  0.595850

[10000000 rows x 5 columns]

In [4]:
# save feather from pandas
df.to_feather('1M.feather')

In [7]:
# read feather file from pandas
df= feather.read_dataframe('1M.feather')

In [ ]:
# to_csv to to_feather
# read_csv to read_feather